@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

/* Index File CSS Style */

/*  color: #009b74;
color: #d01c1f; */

* {
  font-family: "Comfortaa", cursive;
}

body {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.cropped {
  width: 600px;
  height: 200px;
  object-fit: cover;
  object-position: 0% 60%;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #009b74;
}

a:visited {
  color: #d01c1f;
}

footer a:visited {
  color: rgb(84, 84, 84);
}

footer {
  /* position: absolute; */
  bottom: 0;
  height: 50px;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

/* Specific Recipe CSS Style */

.go-back {
  display: flex;
  justify-content: center;
  /* margin: 20px 0 20px -840px; */
  margin: 20px 0;
  flex-wrap: wrap;
}

h2 {
  font-size: 100px;
  margin: 0;
}

h4 {
  text-align: center;
}

.recipe-solo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

.text {
  width: 400px;
}

.recipe-solo img {
  height: 347px;
  width: 460px;
  object-fit: cover;
  object-position: 25% 25%;
}

.lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 600px; */
  margin: 0;
  padding: 0;
  gap: 20px;
}

.steps {
  border: 2px solid black;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-break: auto;
  gap: 10px;
  padding: 30px;
}

.ingredients-list {
  border: 2px solid black;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 30px;
  gap: 10px;
}

.steps-list,
.ingredients-parts {
  width: 400px;
  /* justify-content: flex-start; */
}

.steps-list {
  display: list-item;
  list-style-type: decimal;
}

.ingredients-parts {
  display: list-item;
  list-style: disc;
}
