@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

/*  color: #009b74;
color: #d01c1f; */

* {
  font-family: "Comfortaa", cursive;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.cropped {
  width: 600px;
  height: 200px;
  object-fit: cover;
  object-position: 0% 60%;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #009b74;
}

a:visited {
  color: #d01c1f;
}

footer a:visited {
  color: rgb(84, 84, 84);
}

footer {
  /* position: absolute; */
  bottom: 0;
  height: 50px;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}
