@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  font-family: "Comfortaa", cursive;
}

body {
  position: relative;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
}

body::after {
  content: "";
  display: block;
  height: 100px; /* Set same as footer's height */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 310px;
  width: 620px;
  text-align: center;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #009b74;
}

a:visited {
  color: #d01c1f;
}

ul {
  gap: 50px;
  justify-content: center;
  padding: 0;
  margin: auto;
  flex-wrap: wrap;
}

.recipes {
  display: flex;
  flex-direction: row;
  text-align: center;
}

li {
  list-style: none;
  width: 200px;
}

.cropped {
  width: 200px;
  height: 400px;
  object-fit: cover;
  object-position: 25% 25%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.credits {
  justify-content: center;
  gap: 20px;
  padding: 0 20px 0 0;
}
